@import '../../node_modules/normalize.css/normalize';
@import 'layout';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    color: $font-color;
    /*padding-bottom: 0.5em;*/
}

h1 {
    font-size: 2.8em;
    margin-bottom: 1.4rem; /* baseline, för att skapa mer utrymme */
}

html,
body {
    height: 100%;
}

html {
    font-size: 100%;
    background-color: $bg-color;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

p {
    color: $font-color;
    letter-spacing: 0.05em;
    font-size: 1em;
    margin-bottom: 1rem; /* 1.4 * 1 = 1.4 em vår baseline kändes för mycket, minskade till 1rem */
}

a {
    color: $headfoot-color;
}


a:hover {
    color: $base-hover;
}

@media (min-width: 920px) {
    html {
        font-size: 112.5%;
    }
}
