$bg-color: #000;
$header-bg: #262626; /*bg*/
/*color used in text, links and fontawesome-icons in header and footer */
$headfoot-color: #86806a;
$font-color: #e6e6e6;
$footer-color: #262626;
$link-color: #86806a;
$active-link-color: #ceaf7d;
$hover-color: #3b440d;

$kmombox-border: #ccc;
$kmombox-header: #fff;
$kmombox-background: #333;
