$bg-color: #fff;
$header-bg: #000;
/*color used in text, links and fontawesome-icons in header and footer */
$headfoot-color: #86806a;
$font-color: #333;
$footer-color: #000;
$footer-border: #000;
/* link color - slightly darker than headfoot-color for increased contrast */
$link-color: #7a7406;
$active-link-color: #b98d46;
$hover-color: #3b440d;
$base-hover: #000;

$kmombox-border: #ccc;
$kmombox-header: #fff;
$kmombox-background: #333;
