$bg-color: #000;
$header-bg: #000;
/*color used in text, links and fontawesome-icons in header and footer */
$headfoot-color: #86806a;
$font-color: #bfbfbf;
$footer-color: #000;
$footer-border: #999;
$active-link-color: #ceaf7d;
$hover-color: #3b440d;
$base-hover: #666;

$kmombox-border: #1a1a1a;
$kmombox-header: #bfbfbf;
$kmombox-background: #333;
